*,
body,
div {
	box-sizing: border-box;
}

.Card {
	margin: auto;
	margin-top: 50px;
	border: 1px solid grey;
	display: flex;
	flex-direction: column;
	width: 600px;
	padding: 10px;
	border-radius: 10px;
}
.Card__title {
	border-bottom: 1px solid black;
	padding: 10px;
}
.Card__count {
	height: 200px;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Card__button {
	width: 100px;
	height: 30px;
	background-color: yellow;
	align-self: center;
	cursor: pointer;
	border-radius: 10px;
}
.Card__button:disabled {
	background-color: lightgrey;
	cursor: not-allowed;
}

@media (max-width: 600px) {
	.Card {
		width: 80%;
	}
}
